#root {
  background-color: #ddd;
}
.carousel-item {
  height: 26.8rem;
}
.product {
  width: 30rem;
  height: 48rem;
  padding: 1rem;
}
@media (max-width: 576px) {
  .product {
    width: 100%;
  }
}
